<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    </head>
    <body>
      <div class="container">
        <div class="row">
          <h1>Big File Upload Demo</h1><hr/>
          <div>
            <input type="file">
          </div>
        </div>
        <div class="row" style="margin-top: 20px;">
          <div id="download" style="margin">
          </div>
        </div>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-rc1/jquery.min.js"></script>
      <script src="/static/js/md5.min.js"></script>
      <script src="/static/js/index.js"></script>
    </body>
</html>
